.layout {
    display: grid;
    grid-template-rows: 4vh auto;
    height: 100vh;
    background-color: var(--bg);
}

.header {
    padding: 0.25rem;
    grid-column: 1 / -1;
    height: 4vh;
    background-color: var(--header);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.grid {
    display: grid;
    grid-template-columns: 10vw 55vw 35vw;
    width: 100vw;
}

.files-col {
    display: grid;
    grid-template-rows: 6fr 1fr;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.status-col {
    padding: 0.25rem;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.15);
    z-index: 5;    
}