.layout {
    display: grid;
    grid-template-rows: 4vh auto;
    height: 100vh;
    background-color: var(--bg);
}

.header {
    padding: 0.25rem;
    grid-column: 1 / -1;
    height: 4vh;
    background-color: var(--header);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.grid {
    display: flex;
    width: 100vw;
    height: 96vh;
}

.files-col {
    display: grid;
    flex: 0 0 auto;
    grid-template-rows: 1fr auto;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
    z-index: 5;

    height: 100%; 
    overflow-y: auto;
    min-height: 0;
}

.status-col {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0.25rem;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.15);
    z-index: 5;

    height: 100%; 
    overflow-y: auto;
    min-height: 0;
}

.debugLineHighlight {
    background-color: var(--monaco-debug-highlight);
}

.loading-view {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 4em;
    color: var(--text);
    text-align: center;
    background-color: var(--bg); 
}