.cpu-view {
    margin: 0 auto;
}

.cpu-state-view {
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: var(--text-muted);
    justify-content: center;
}

.cpu-reg-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    margin-bottom: 1em;
}

.register-container {
    display: grid;
    grid-template-columns: 3em 6em 3.5em 3em;
}

.register-container p {
    margin: 0.5em 0;
}

.cpu-state-active {
    color: var(--text);
}

.cpu-state-object {
    margin: 0.5em;
}
