.info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-muted);
    font-size: smaller;
    gap: 1em;
    margin: 0 0.5em;
}

.info-card svg {
    transition: color 0.3s ease;
}

.info-card svg:hover {
    color: var(--text);
} 

.github-logo {
    color: var(--text-muted);
    height: 32px;
    width: 32px;
    margin: 0 0;
}
